.container-profile {
    border: 1px solid red;
    height: 100vh;

    .image-container {
        background: #3073AB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40vh;

        .profile-image1{
            height: 150px;
            width: 200px;
            border-radius: 50%;
        }
    }
}