.container-profile {
    // border: 1px solid red;
    // height: 100vh;

    .back-button {
        background: #3073AB;

        button {
            background:#3073AB;
            color: #fff;
            padding: 0.5%;
            // border: none;
            &:hover{
                background: #fff;
                color: #3073AB;
            }
        }
    }

    .image-container {
        background: #3073AB;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40vh;
        padding-bottom:3%;

        .profile-image1{
            height: 150px;
            width: 180px;
            border-radius: 50%;
        }
        h3{
            padding-top:1%;
        }

        button {
            width: 10%;
            height: 10%;
            background: #3073AB;
            border: 1px solid #D3D3D3;
            color: #fff;
            font-size: 1rem;
            border-radius: 8px;
            &:hover{
                background: #fff;
                color: #3073AB;
            }
        }
    }

    .profile-body-container{
        // border: 1px solid green;
        display: flex;
        flex-direction: column;

        .about-container {
            border: 1px solid orange;
        }

        .container-one {
             border: 1px solid purple;
        }

        .container-two {
            border: 1px solid green;
        }    
    }

    .about-me{
        // border: 1px solid blue;
        width: 100%;
        align-items: center;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        margin-top:4%;
        p{
            width:40%;
        }
    }
        
        
}



