.filter-class {
  display: flex;

  width: 55%;
  justify-content: space-between;
  min-width: 750px;
  padding-left: 3.3%;
  .search-bar {
    width: 180px;
    height: 35px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid @quickhire-main;
  }

  .job-select {
    width: 133px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid @quickhire-main;
  }
  
  
  

  button {
    height: 35px;
    // max-width: 100%;
    background-color: @quickhire-main;
    color: #ffffff;
    height: 35px;
    text-align: center;
    border-radius: 6px;

    @media @desktop-1000 {
      margin-top: 4%;
      width: 10rem;

    }
  
    
    
    &:hover {
      cursor: pointer;
      border: 1px solid @quickhire-main;
      background-color: #ffffff;
      color: @quickhire-main;
    }
  }

  @media @desktop-1000 {
    display: flex;
    flex-direction: column;


    .search-bar {
      width: 300px;

    }

    .job-select {
      width: 300px;
    }

    .experience-select {
      width: 300px;
    }
  }

  @media @tablet {
    flex-direction: column;
    min-width: unset;

    .search-div{
      padding-top: 1.5%;
    }
    
    .search-bar {
      
    }

    .job-select {
      padding-top: 1%;
    }

    .experience-select {
      padding-top: 1%;
    }

    
  }

  @media @mobile {
    min-width: unset;


  }

    .job-select {
      padding-top: 1%;
    }

    // .experience-select {
    //   // padding-top: 1%;
    // }
}
  @media @mobile2 {
    min-width: unset;
  }


.dashboardNav {
  display: flex;

  width: 100%;
  width: 60%;
  min-width: 315px;
  max-width: 500px;

  nav {
    border: 1px solid @quickhire-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    button {
      border: 1px solid black;
      width: 100px;
      .button(
        @border: @quickhire-main,
        @borderHover: #ffffff,
        @background: #ffffff,
        @backgroundHover: @quickhire-main,
        @fontColor: @quickhire-main,
        @fontColorHover: white,
        @height: 35px,
        @borderRadius: 8px,
        @margin: 0 2px,
        // @padding: 5%,
      );
    }
    a {
      text-decoration: none;
    }
  }

}


.card-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;


    

 .use-search {
 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 25rem;
   width: 90rem;
   div{
    
   }
   h2{ 
     @media @tablet{

       width:50rem;
     }
     @media @mobile{
      width: 24rem;
      padding-top: 20%;
   }
   }
   
 }

  .jobCard {
    border: 1px solid @quickhire-main;
    background-color: #fafafa;
    width: 35rem;
    height: 30rem;
    // min-width: 250px;
    // max-width: 340px;
    // height: 300px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: .20%;
    // border: 1px solid orange;

    .card-info {

      // border: 1px solid red;
      height: 5.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        font-size: 1.4rem;
        // border: 1px solid orange;
        text-align: center;
        width: 75%;
      }
  
    }

    .company-name {
      background-color: @quickhire-main;
      width: 100%;
      height: 4rem;
      text-align: center;
      color: white;
      padding: 1%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      // border: 1px solid orange;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .job-desc {
      width: 260px;
      text-align: center;
      // margin: 10px auto;
      height: 100px;
      border: 1px solid red;
    }
  }

  .card-image {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 18%;
    // margin: 10px auto;
    // border: 1px solid green;
    margin: 1%;
    padding: 4%;


    div {
      // border: 1px solid orange;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }

  .card-text {
    display: flex;
    // margin-left: 8%;
    flex-direction: column;
    p {
      // margin-bottom: 5%;
      span {
        color: #646464;
      }
    }
  }



  @media @tablet {
    width: 100%;
    margin-left: 0px;

    .jobCard {
      width: 300px;
    }
  }

  @media @mobile {
    width: 100%;


    .jobCard {
      width: 320px;
    }
  }

  @media @mobile2 {
    .jobCard {
      width: 320px;
    }
  }
}

.jobButtons {
  display: flex;
  justify-content: space-evenly;
  // border: 1px solid red;
  margin-top: 3%;
  padding: 2%;
  button {

    color: #ffffff;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: @quickhire-main;
    &:hover {
      background: #ffffff;
      border: 1px solid @quickhire-main;
      color: @quickhire-main;
      border-radius: 5px;
    
      cursor: pointer;
    }
  }
}

.jobButtons-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  button {
    color: @quickhire-main;
    width: 100px;
    height: 35px;
    border: 1px solid @quickhire-main;
    border-radius: 3px;
    &:hover {
      background: @quickhire-main;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.dashboard-nav {
  padding-left: 3.3%;
  padding-bottom: 1.5%;
  padding-top: 2%;
}
