.filter-class {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  margin-bottom: 2vh;
  margin-left: 12.5vw;

  .search-div {
    input {
      background: #ffffff;
      /* #D4D4D4 - Light Grey */
      text-align: left;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 8px;

      &::placeholder {
        padding-left: 10px;
      }
    }

    select {
      background: #ffffff;
      /* #D4D4D4 - Light Grey */
      text-align: left;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 8px;
      color: grey;

      option {
        padding-left: 10px;
      }
    }
  }

  form {
    display: flex;
  }

  div {
    margin: 1%;
  }

  .search-bar {
    width: 15vw;
    height: 35px;
    text-align: center;
    border-radius: 6px;
  }

  .job-select {
    width: 133px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid @quickhire-main;
  }

  button {
    height: 35px;
    background-color: @quickhire-main;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    margin: 1%;
    border: none;
    width: 15vw;

    @media @desktop-1000 {
      margin-top: 5%;
      width: 30rem;
      height: 35px;
    }
  }

  @media @desktop-1000 {
    display: flex;
    flex-direction: column;

    .search-bar {
      width: 300px;
    }

    .job-select {
      width: 300px;
    }

    .experience-select {
      width: 300px;
    }
  }

  @media @tablet {
    flex-direction: column;
    min-width: unset;

    .search-div {
      padding-top: 1.5%;
    }

    .job-select {
      padding-top: 1%;
    }

    .experience-select {
      padding-top: 1%;
    }
  }

  @media @mobile {
    min-width: unset;
  }

  .job-select {
    padding-top: 1%;
  }
}
@media @mobile2 {
  min-width: unset;
}

.card-container-message {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 2%;
  background-color: #fafafa;
  height: 100vh;

  .use-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 90rem;

    h2 {
      padding: 2%;
      border: 2px solid #ec3944;
      width: 80%;
      border-radius: 10px;
      box-shadow: 5px 5px;
      text-align: center;
      //  background: @quickhire-main;
      color: #ec3944;
      @media @tablet {
        width: 50rem;
      }

      @media @mobile {
        width: 24rem;
        padding-top: 20%;
      }
    }
  }
}

// start of card-container-vh -> had to repeat styles from card-container for it to work, so repetitive - did not get around to fully fixing it.

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 2%;
  background: #fafafa;

  .use-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 90rem;

    h2 {
      padding: 2%;
      border: 2px solid #ffffff;
      width: 80%;
      border-radius: 10px;
      box-shadow: 5px 5px;
      text-align: center;
      color: #ffffff;
      @media @tablet {
        width: 50rem;
      }

      @media @mobile {
        width: 24rem;
        padding-top: 20%;
      }
    } //end of h2
  } //end of usesearch

  .jobCard {
    width: 550px;
    height: 250px;
    margin: 10px;
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 8px;

    @media @mobile {
      margin: 3%;
    }

    @media @tablet {
      margin: 1% 0.2% 1% 0.2%;
    }

    .card-header {
      display: flex;
      margin-top: 2px;

      .company-name {
        color: @quickhire-main;
        width: 100%;
        height: 4rem;
        text-align: center;
        padding: 1%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: flex;
        align-items: center;
      }

      button {
        border: none;
        background-color: transparent;
      }

      button:focus {
        outline: 0;
      }
    }
    .card-info {
      height: 5.5rem;
      width: 100%;
      padding: 0;

      h3 {
        font-size: 1.4rem;
        width: 75%;
      }
    }

    //end of card info
  } //end of company name

  .job-desc {
    width: 260px;
    text-align: center;
    height: 100px;
  }
} //end of job card

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 4%;

  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80px;
    height: 80px;
  }
} //end of card image

.card-text {
  display: flex;
  flex-direction: column;
  p {
    span {
      color: #646464;
    }
  }
} //end of card-text

@media @tablet {
  width: 100%;
  margin-left: 0px;

  .jobCard {
    width: 300px;
  }
}

@media @mobile {
  width: 100%;

  .jobCard {
    width: 320px;
  }
}

@media @mobile2 {
  .jobCard {
    width: 320px;
  }
}

.jobButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;

  a {
    color: white;
    font-size: 14px;
    border-radius: 8px;
    background: @quickhire-main;
    font-family: "Lato";
    text-align: center;
    width: auto;
    border: none;
  }
}

.jobButtons-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  button {
    color: @quickhire-main;
    width: 100px;
    height: 35px;
    border: 1px solid @quickhire-main;
    border-radius: 3px;
  }
}

.dashboard-nav {
  padding-left: 3.3%;
  padding-bottom: 1.5%;
  padding-top: 2%;
}

.left-nav-container {
  border: 2px solid #bfbfbf;
  height: 70vh;
  width: 10vw;
  max-width: 15vw;
  position: fixed; /* Set the navbar to fixed position */
  margin-top: 50vh;
  top: 100;
  margin-left: 1vw;
}

#dash {
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  margin-top: 15vh;
  float: right;
  .div1 {
    max-width: 60vw;
    width: 60vw;
  }
}

.submit-button {
  background-color: #ec3944;
}

button {
  cursor: pointer;
}
