.dashboard {
  display: flex;

  .tabs-list {
    width: 10%;
    border-right: 1px solid lightgray;

    .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 1.6rem;
      cursor: pointer;
      color: #504e4e;
    }
  }

  .display {
    width: 90%;

    .search {
      display: flex;
      flex-direction: column;

      .search-inputs {
        display: flex;
        justify-content: center;
        height: 10%;
        padding-top: 20px;
        padding-bottom: 20px;

        input {
          margin-right: 10px;
          width: 140px;
          padding-left: 7px;
        }

        .dropdownRoot {
          margin-right: 10px;
          box-sizing: border-box;
          width: 140px;
        }
      }

      .bottom-wrap {
        display: flex;
        background-color: #fafafa;

        .jobs-list {
          width: 65%;
          // border-top: 1px solid lightgray;
          overflow-y: scroll;
          height: calc(100vh - 149px);

          .job-card {
            display: flex;
            flex-direction: column;
            height: 150px;
            border: 1.5px solid lightgray;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
            padding: 10px 10px 0 10px;
            // transition: height 0.2s linear; //isn't working with height auto

            .first-row {
              display: flex;
              align-items: center;

              .company {
                font-size: 1.6rem;
                font-weight: 500;
                margin-right: 10px;
              }

              .location {
                font-size: 1.4rem;
                font-weight: 200;

                spin {
                  vertical-align: middle;
                  margin-bottom: 1px;
                }
              }
            }
            .title {
              font-size: 1.5rem;
              font-weight: 300;
              margin-bottom: 10px;
              letter-spacing: 0.6px;
            }

            .content {
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 10px;
            }

            .bottom-row {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.2rem;
              padding-bottom: 5px;

              .apply-btn {
                cursor: pointer;
                width: 80px;
                padding: 2px;
                border: 1px solid transparent;
                border-radius: 5px;
                color: white;
              }
            }
          }
        }

        .saved-applied-wrap {
          display: flex;
          flex-direction: column;
          width: 35%;
          height: calc(100vh - 149px);
          // border-top: 1px solid lightgray;

          .top-box {
            display: flex;
            flex-direction: column;
            width: 90%;
            border: 1px solid lightgray;
            border-radius: 5px;
            height: 45%;
            margin: 10px 0 20px 0;
            overflow-y: scroll;

            .saved-jobs-list {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px;

              .saved-job-card {
                display: flex;
                border: 1px solid lightgray;
                border-radius: 5px;
                margin-bottom: 5px;
                padding: 5px;

                button {
                  margin-left: auto;
                  cursor: pointer;
                  background-color: lightgray;
                  border: none;
                }
              }
            }
          }

          .bottom-box {
            display: flex;
            flex-direction: column;
            width: 90%;
            border: 1px solid lightgray;
            border-radius: 5px;
            height: 45%;
            margin: 10px 0 20px 0;
            overflow-y: scroll;

            .applied-jobs-list {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px;
            }

            .applied-job-card {
              display: flex;
              border: 1px solid lightgray;
              border-radius: 5px;
              margin-bottom: 5px;
              padding: 5px;

              button {
                margin-left: auto;
                cursor: pointer;
                background-color: lightgray;
                border: none;
              }
            }
          }

          h4 {
            position: sticky;
            top: 0;
            background-color: lightgray;
            padding: 5px;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }

    .board {
      height: calc(100vh - 75px);
      background-color: #fafafa;
    }
  }
}
