footer {
    display: flex;
    background: rgb(238, 235, 235);
}

section {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 30%;
}

h3 {
    padding-bottom: 5%;
    font-size: 1.6rem;
}

nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 2%;
}

.contact {
    margin-right: 33%;
}

.links {
    margin-right: 30%;
}

.social-links h3 {
    margin-bottom: 10%;
}

.social-links a {
    text-decoration: none;
    padding: 5%;
    color: black;
}