header {
  // border:1px solid red;
  // border-bottom: 1px solid #AC2A38;
  position: sticky;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  border-bottom: 1px solid rgb(230, 230, 230);
  @media @tablet {
    flex-direction: column;
    justify-content: center;
    height: 18vh;
  }
  @media @mobile {
    flex-direction: column;
    justify-content: center;
    height: 25vh;
  }
  @media @mobile2 {
    flex-direction: column;
    justify-content: center;
    height: 25vh;
  }

  a {
    text-decoration: none;
    @media @tablet {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      align-items: center;
      display: flex;
      width: 100%;
      padding-bottom: 1.5%;
    }
    @media @mobile {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      align-items: center;
      display: flex;
      width: 100%;
      padding-bottom: 1.5%;
    }
    @media @mobile2 {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      align-items: center;
      display: flex;
      width: 100%;
      padding-bottom: 1.5%;
    }
  }
  h1 {
    // border:1px solid red;
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    margin: 0 0 0 30px;
    font-size: 25px;
    color: @quickhire-main;
    @media @tablet {
      margin: unset;
    }
    @media @mobile {
      margin: unset;
    }
  }

  nav {
    width: 12.5vw;
    height: 100%;
    min-width: 220px;
    margin: 0 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media @tablet {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      width: 80%;
      min-width: unset;
    }

    @media @mobile {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      width: 80%;
      min-width: unset;

    }

    @media @mobile2 {
      flex-direction: column;
      justify-content: center;
      margin: unset;
      width: 80%;
      min-width: unset;
    }
    button {
      // margin-left: 4rem;
      color: @quickhire-main;
      width: 100px;
      height: 35px;
      border: 1px solid @quickhire-main;
      border-radius: 3px;
      padding: 1%;
      &:hover {
        background: @quickhire-main;
        border-radius: 5px;
        color: #ffffff;
      }
      @media @tablet {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 1%;
      }

      @media @mobile {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 1%;
      }

      @media @mobile2 {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 1%;
      }
    }
  }
}

// --------------- DarkMode Toggle ------------------------------

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: @darkmode-background;

  .header {
    background-color: @darkmode-background;
    border: none;
  }
  
  p {
    color: @darkmode-card-text;
  }

  h3 {
    color: @darkmode-card-text;
  }

  h4 { 
    color: @darkmode-card-text;
  }

  span {
    color: @darkmode-card-text;
  }

  .dashboardNav nav {
    border: 1px solid @darkmode-background;
  }

  .container-profile {
    color: @darkmode-background;
  }

  .profile-top {
    border: 1px solid @quickhire-main;
    border-radius: 6px;
  }

  .profileCard {
    border: 1px solid @quickhire-main;
  }

  .landing-page p {
    color: @darkmode-text;
  }

  .about-container p {
    color: @darkmode-text;
  }

  .about-container h3 {
    color: @darkmode-text;
  }

  .job-details-container p {
    color: @darkmode-text;
  }

}

.navbar {
  display: flex;
  flex-direction: column;
  height: 40px;
}