.job-details-container {
    display: flex;
    flex-direction: column;
    .deets-apply-button {
        
        button{
            border: 1px solid black;
            .button(@border: @quickhire-main, @borderHover: #ffffff, @background: @quickhire-main, @backgroundHover: #ffffff, 
            @fontColor: #ffffff, @fontColorHover: @quickhire-main, @width: 25%, @height: 35px, @borderRadius: 8px, @margin: 0 2px, @padding: 0);
          }
    }
}