.landing-page{
    
    border: salmon dashed 1px;
    
    display:flex;
    margin: auto;
    margin:2%;
    width: 90%;
    height:90%;
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.25rem;
        padding: 0.2rem;
    }
    .img-div{
    display: flex;    
    justify-content: flex-end;
   
    
    img{
    margin: .2rem;
    max-width: 32%;
    max-height: 32% ;   
    }
}
   

    button{color: @quickhire-main;
    width: 15%;
    height: 35px;
    border: 1px solid @quickhire-main;
    border-radius: 3px;
    &:hover{
        background: @quickhire-main;
        border-radius: 5px;
        color: #ffffff;
    }
    
}
}