
.landing-page {
  //   border: salmon dashed 1px;
  background: @quickhire-main;
  background-image: linear-gradient(to bottom right, red, white);
  width: 100%;
  height:90vh;
  // height: 100vh;
  @media @tablet{
    width: 100%;
  } @media @mobile{
    width: 100%;
  }

.content-div {
  display: flex;
  height: 90vh;
}

.landing-info {
  width: 50%;
}

  h1 {
    font-family: "Lato", sans-serif;
    font-size: 4.8rem;
    padding: 5%;
  color: white;

    @media @mobile{
      padding-left:2%;
    }
  }
 
    .p-1 {
      padding: 0 5%;
      font-size: 1.7em;
      width:80%;
      color:white;
    }
    .p-2 {
      padding-left: 7%;
    }
    .p-3 {
      padding-left: 4%;
    }
    @media @mobile {
      font-size: unset;
      .p-1 {
        padding-left: 4%;
      }
      .p-2 {
        padding-left: 4%;
      }
      .p-3 {
        padding-left: 4%;
      }
    
  }
  .bottom-content {
    display: flex;
    @media @tablet {
      flex-direction: column;
      width: 100%;
    }
    @media @mobile {
      flex-direction: column;
      width: 100%;
    }
    a {
      width: 40%;
      height: 30%;
    }

  }
  .img-div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    float: right;
    img {
      max-width: 100%;
    }
    @media @mobile {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
    @media @tablet {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
  }
}


.button-div {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
  @media @tablet {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
  @media @mobile {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
  button {
    width: 100%;
    text-decoration: none;
    font-size: 2.5em;
    color: @quickhire-main;
    border: 1px solid @quickhire-main;
    border-radius: 3px;
    padding:5px 30px;
    margin-left: 20%;
    margin-top:5vh;
    cursor: pointer;
    &:hover {
      background: @quickhire-main;
      border-radius: 5px;
      color: #ffffff;
    }
    @media @tablet {
      height: 100%;
    }
    @media @mobile {
      height: 100%;
    }
    a {
      @media @tablet {
        height: 35%;
        width: 60%;
      }
      @media @mobile {
        height: 35%;
        width: 60%;
      }
    }
  }
}