#right-nav {
	height: 90vh;
	width: 50vw;
	display: flex;
	margin: 70px 5px;
	overflow-y: scroll;
	border: 1px solid grey;
	overflow: -moz-scrollbars-none;

	#saved {
		width: 48%;
		background-color: white;
		margin-right: 2%;
	}

	#applied {
		width: 48%;
	}
}
