@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: BlinkMacSystemFont, Helvetica Neue, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  overflow: auto;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75;
}
p {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: 700;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  z-index: 8888;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}
.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ec3944;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
header {
  position: sticky;
  background-color: #FAFAFA;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
@media (min-width: 651px) and (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 18vh;
  }
}
@media (max-width: 650px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 25vh;
  }
}
@media (max-width: 350px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 25vh;
  }
}
header .logo-img {
  max-width: 70%;
  margin-left: 30px;
}
header #profile-image {
  display: flex;
}
header .profile-nav {
  border-radius: 50% 50%;
  border: 1px solid #EC3944;
  padding: 1px;
}
header a {
  text-decoration: none;
}
@media (min-width: 651px) and (max-width: 800px) {
  header a {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    align-items: center;
    display: flex;
    width: 100%;
    padding-bottom: 1.5%;
  }
}
@media (max-width: 650px) {
  header a {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    align-items: center;
    display: flex;
    width: 100%;
    padding-bottom: 1.5%;
  }
}
@media (max-width: 350px) {
  header a {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    align-items: center;
    display: flex;
    width: 100%;
    padding-bottom: 1.5%;
  }
}
header h1 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  margin: 0 0 0 30px;
  font-size: 25px;
  color: #EC3944;
}
@media (min-width: 651px) and (max-width: 800px) {
  header h1 {
    margin: unset;
  }
}
@media (max-width: 650px) {
  header h1 {
    margin: unset;
  }
}
header nav {
  height: 100%;
  margin: 0 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 651px) and (max-width: 800px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    width: 80%;
    min-width: unset;
  }
}
@media (max-width: 650px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    width: 80%;
    min-width: unset;
  }
}
@media (max-width: 350px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    margin: unset;
    width: 80%;
    min-width: unset;
  }
}
header nav .sign-up-btn {
  color: black;
  width: 100px;
  height: 35px;
  border: 1px solid rgba(193, 58, 67, 0.9);
  border-radius: 19px;
  padding: 1%;
  background-color: #FAFAFA;
  outline: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
header nav .sign-up-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 19px;
  cursor: pointer;
}
@media (min-width: 651px) and (max-width: 800px) {
  header nav .sign-up-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
@media (max-width: 650px) {
  header nav .sign-up-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
@media (max-width: 350px) {
  header nav .sign-up-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
header nav .log-in-btn {
  color: black;
  width: 100px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 19px;
  padding: 1%;
  background-color: #FAFAFA;
  outline: none;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
}
header nav .log-in-btn:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media (min-width: 651px) and (max-width: 800px) {
  header nav .log-in-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
@media (max-width: 650px) {
  header nav .log-in-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
@media (max-width: 350px) {
  header nav .log-in-btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1%;
  }
}
.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 30px;
  position: relative;
  width: 40px;
}
.toggle {
  background: #ec3944;
  border-radius: 50px;
  height: 12px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}
.toggled {
  left: 18px;
}
.navbar {
  display: flex;
  flex-direction: column;
  height: 40px;
}
.dark-container {
  width: 100px;
  height: 35px;
  border-radius: 3px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.m-ui-container .profile {
  color: black;
  width: 100px;
  height: 35px;
  border: 1px solid rgba(193, 58, 67, 0.9);
  border-radius: 19px;
  padding: 1%;
  background-color: #FAFAFA;
  outline: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.m-ui-container .profile:hover {
  cursor: pointer;
}
@media (min-width: 651px) and (max-width: 800px) {
  .m-ui-container {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .m-ui-container {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .m-ui-container {
    width: 100%;
  }
}
.logout {
  display: flex;
  justify-content: center;
  color: black;
}
#simple-menu {
  margin-top: 10vh;
}
footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%233c3c40' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #3073ab;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 125px;
}
footer h4 {
  font-size: 1.6rem;
  color: #ffffff;
}
.landing-page {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(140deg, #c13a43, #c13a43, rgba(193, 58, 67, 0.9), #e7d6d7, rgba(231, 214, 215, 0));
}
.landing-page .content-div {
  height: 60%;
  width: 80%;
  color: white;
}
.landing-page .content-div h1 {
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: 2px;
}
.landing-page .content-div .bottom-content {
  display: flex;
}
.landing-page .content-div .bottom-content .text {
  font-weight: 200;
  padding-top: 30px;
}
.landing-page .content-div .bottom-content .text button {
  width: 120px;
  height: 32px;
  border-radius: 2px;
  color: white;
  background: rgba(236, 57, 68, 0.9);
  border: 1px solid transparent;
  margin-top: 40px;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 5px;
}
.landing-page .content-div .bottom-content .text button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.landing-page .img-div {
  position: absolute;
  right: 0;
  bottom: -2px;
}
@media screen and (min-width: 0px) and (max-width: 995px) {
  .landing-page .img-div {
    display: none;
  }
}
.button-div {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 651px) and (max-width: 800px) {
  .button-div {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
}
@media (max-width: 650px) {
  .button-div {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
}
.button-div button {
  width: 100%;
  text-decoration: none;
  font-size: 2.5em;
  color: #ec3944;
  border: 1px solid #ec3944;
  border-radius: 3px;
  padding: 5px 30px;
  margin-left: 20%;
  margin-top: 5vh;
  cursor: pointer;
}
.button-div button:hover {
  background: #ec3944;
  border-radius: 5px;
  color: #ffffff;
}
@media (min-width: 651px) and (max-width: 800px) {
  .button-div button {
    height: 100%;
  }
}
@media (max-width: 650px) {
  .button-div button {
    height: 100%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .button-div button a {
    height: 35%;
    width: 60%;
  }
}
@media (max-width: 650px) {
  .button-div button a {
    height: 35%;
    width: 60%;
  }
}
.empty-jobs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fafafa;
  overflow-y: none;
}
.empty-jobs div {
  border-radius: 8px;
  margin-top: 5%;
  padding: 1%;
  text-align: center;
  width: 100%;
}
.empty-jobs div p {
  color: #747474;
}
.empty-jobs div h1 {
  color: #ffffff;
}
.saved-jobs-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background: #fafafa;
}
@media (max-width: 650px) {
  .saved-jobs-small {
    height: unset;
  }
}
@media (max-width: 350px) {
  .saved-jobs-small {
    height: unset;
  }
}
.saved-jobs-single {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background: #fafafa;
}
.saved-jobs-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.saved-jobs-main .saved-header {
  background-color: #d3d3d3;
  width: 100%;
}
.saved-jobs-main .saved-header h1 {
  font-size: 2.5em;
  text-align: center;
  color: #131336;
  font-weight: bold;
}
.card-saved-jobs {
  width: 90%;
  height: auto;
  margin: 2%;
  background: white;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.card-saved-jobs .card-saved-header {
  display: flex;
  justify-content: space-between;
}
.card-saved-jobs .card-saved-header button {
  color: #ec3944;
  height: 35px;
  background: none;
  border-radius: 3px;
  border: none;
}
.card-saved-jobs .card-saved-header button:hover {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .card-saved-jobs .card-saved-header {
    padding: 2%;
    width: 40%;
    height: 50vh;
    margin: 2%;
    border-radius: 8px;
  }
}
@media (max-width: 650px) {
  .card-saved-jobs .card-saved-header {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .card-saved-jobs .card-saved-header {
    width: 100%;
  }
}
.card-saved-jobs .card-saved-header h3 {
  width: 70%;
  color: #131336;
  font-weight: bold;
  font-size: 18px;
}
.card-saved-jobs .card-saved-header h5 {
  font-size: 1.5rem;
  color: black;
}
.card-saved-jobs .card-saved-header p {
  padding: 2%;
  width: 100%;
  height: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1rem;
}
.card-saved-jobs .card-saved-header .saved-buttons {
  display: flex;
  justify-content: space-evenly;
}
.card-saved-jobs .card-saved-info {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.card-saved-jobs .card-saved-info a {
  background: none;
  border: none;
  color: #777777;
  font-weight: bold;
  font-size: 18px;
}
.card-saved-jobs .card-saved-info a:hover {
  cursor: pointer;
  border-bottom: 1px solid #777777;
}
.about-container {
  margin-bottom: 5%;
}
.about-container h1 {
  text-align: center;
  margin-top: 2%;
}
.about-container h2 {
  text-align: center;
  margin-top: 2%;
}
.about-container p {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
.about-container .image-container {
  width: 220px;
  margin-bottom: -5px;
}
.about-container .image-container .team-image {
  width: 100%;
  border-radius: 6px;
}
.about-container .team {
  display: flex;
  flex-wrap: wrap;
}
.about-container .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin: 4% auto;
  width: 694px;
  height: 394px;
  margin-bottom: 10%;
}
@media (min-width: 651px) and (max-width: 800px) {
  .about-container .team-card {
    height: 420px;
  }
}
@media (max-width: 650px) {
  .about-container .team-card {
    height: 430px;
    margin-bottom: 40%;
  }
}
.about-container .team-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.about-container .team-info h3 {
  margin: 0 auto;
  margin-bottom: 2%;
}
.about-container .icons {
  margin: 10px auto;
}
.about-container .twitter {
  width: 20px;
  margin-right: 10px;
}
.about-container .github {
  width: 20px;
  margin-right: 10px;
}
.about-container .linked {
  width: 20px;
}
@media (max-width: 1000px) {
  .about-container .team-card {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
  }
}
#right-nav {
  height: 90vh;
  width: 35vw;
  display: flex;
  font-family: "Lato";
  flex-direction: column;
  margin-top: 15vh;
}
#right-nav #saved {
  width: 100%;
  border: 1px solid #c4c4c4;
  margin-right: 2%;
  overflow-y: scroll;
  border-radius: 8px;
  margin-bottom: 2vh;
  min-height: 40vh;
}
#right-nav #saved::-webkit-scrollbar,
#right-nav #applied::-webkit-scrollbar {
  display: none;
}
#right-nav #applied {
  width: 100%;
  margin-right: 2%;
  min-height: 40vh;
  border: 1px solid #c4c4c4;
  overflow-y: scroll;
  border-radius: 8px;
  overflow: -moz-scrollbars-none;
}
.dark-mode {
  color: #fff;
  background-color: #171717;
}
.dark-mode .logo-quickhire {
  display: flex;
  align-items: center;
}
.dark-mode .logo-quickhire h1 {
  color: white;
  font-size: 32px;
  font-family: "Lato";
  font-weight: bold;
  margin-left: 5px;
}
.dark-mode #dash {
  background-color: #171717;
}
.dark-mode .profile-top {
  background-color: #171717;
  border: none;
}
.dark-mode .div1 {
  background-color: #171717;
}
.dark-mode .left-nav-container {
  background-color: #171717;
}
.dark-mode header {
  background-color: #1f1f1f;
  border: none;
}
.dark-mode .submit-button {
  background-color: #8e2329;
}
.dark-mode .dashboard-nav {
  background-color: #171717;
}
.dark-mode .dashboardNav {
  background-color: #171717;
  color: white;
}
.dark-mode .accordion-item__line {
  background-color: #1f1f1f;
  border: none;
}
.dark-mode .accordion-item__line .accordion-header p {
  color: white;
}
.dark-mode .accordion-item__line .jobButtons a {
  background-color: #8e2329;
}
.dark-mode .modal-content h2 {
  color: #010a3b;
}
.dark-mode #right-nav #saved,
.dark-mode #right-nav #applied {
  border: 1px solid #1f1f1f;
}
.dark-mode .saved-jobs-main .saved-header {
  background-color: #1f1f1f;
}
.dark-mode .saved-jobs-main .saved-header h1 {
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-weight: bold;
}
.dark-mode .saved-jobs-small {
  background-color: #171717;
}
.dark-mode .saved-jobs-small .empty-jobs {
  background: #171717;
  color: #ffffff;
}
.dark-mode .card-saved-jobs {
  background-color: #1f1f1f;
  border: none;
}
.dark-mode .card-saved-jobs button,
.dark-mode .card-saved-jobs h3 {
  color: white;
}
.dark-mode .container-profile {
  background-color: #171717;
}
.dark-mode .container-profile .profile-section h3,
.dark-mode .container-profile .profile-section h4,
.dark-mode .container-profile .profile-section p,
.dark-mode .container-profile .profile-section a {
  color: white;
}
.dark-mode .profile-form-inputs2 {
  background-color: #171717;
}
.dark-mode .profile-form-inputs2 div h3 {
  color: white;
}
.dark-mode .card-container-message {
  background: #171717;
}
.dark-mode .card-container {
  background: #171717;
}
.dark-mode .jobCard div {
  background: #36454f;
}
.dark-mode .card-info h3 {
  color: white;
}
.dark-mode .dashboardNav nav a {
  color: white;
}
.dark-mode .dashboardNav nav button {
  width: 100%;
  border: #ec3944;
  background-color: #ec3944;
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0 1px;
  padding: 1.5%;
}
.dark-mode .dashboardNav nav button:hover {
  border: #ffffff;
  border-radius: 6px;
  background: #ffffff;
  color: #ec3944;
  cursor: pointer;
}
.dark-mode .saved-jobs-main {
  background-color: #171717;
}
.dark-mode .saved-jobs-main .empty-jobs {
  background: #171717;
  color: #ffffff;
}
.dark-mode .saved-jobs-single {
  background-color: #171717;
}
.dark-mode .header {
  background-color: #171717;
  border: none;
}
.dark-mode p {
  color: black;
}
.dark-mode h3 {
  color: black;
}
.dark-mode h4 {
  color: black;
}
.dark-mode .card-text span {
  color: black;
}
.dark-mode .container-profile {
  color: white;
}
.dark-mode .profile-top {
  border-radius: 6px;
  color: white;
}
.dark-mode .profileCard {
  color: white;
}
.dark-mode .job-details-container-2 {
  background: #171717;
  color: #ffffff;
}
.dark-mode .job-details-container {
  background: #171717;
  color: #ffffff;
}
.dashboard {
  display: flex;
}
.dashboard .tabs-list {
  width: 10%;
  border-right: 1px solid lightgray;
}
.dashboard .tabs-list .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #504e4e;
}
.dashboard .display {
  width: 90%;
}
.dashboard .display .search {
  display: flex;
  flex-direction: column;
}
.dashboard .display .search .search-inputs {
  display: flex;
  justify-content: center;
  height: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dashboard .display .search .search-inputs input {
  margin-right: 10px;
  width: 140px;
  padding-left: 7px;
}
.dashboard .display .search .search-inputs .dropdownRoot {
  margin-right: 10px;
  box-sizing: border-box;
  width: 140px;
}
.dashboard .display .search .bottom-wrap {
  display: flex;
  background-color: #FAFAFA;
}
.dashboard .display .search .bottom-wrap .jobs-list {
  width: 65%;
  overflow-y: scroll;
  height: calc(100vh - 149px);
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  border: 1.5px solid lightgray;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .first-row {
  display: flex;
  align-items: center;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .first-row .company {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 10px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .first-row .location {
  font-size: 1.4rem;
  font-weight: 200;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .first-row .location spin {
  vertical-align: middle;
  margin-bottom: 1px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .content {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.dashboard .display .search .bottom-wrap .jobs-list .job-card .bottom-row .apply-btn {
  cursor: pointer;
  width: 80px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: calc(100vh - 149px);
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .top-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 45%;
  margin: 10px 0 20px 0;
  overflow-y: scroll;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .top-box .saved-jobs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .top-box .saved-jobs-list .saved-job-card {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .top-box .saved-jobs-list .saved-job-card button {
  margin-left: auto;
  cursor: pointer;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .bottom-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 45%;
  margin: 10px 0 20px 0;
  overflow-y: scroll;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .bottom-box .applied-jobs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap .bottom-box .applied-job-card {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.dashboard .display .search .bottom-wrap .saved-applied-wrap h4 {
  position: sticky;
  top: 0;
  background-color: lightgray;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.dashboard .display .board {
  height: calc(100vh - 75px);
  background-color: #FAFAFA;
}
.job-details-container-2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  color: #fff;
}
@media (max-width: 650px) {
  .job-details-container-2 {
    height: unset;
  }
}
@media (max-width: 350px) {
  .job-details-container-2 {
    height: unset;
  }
}
.job-details-container-2 .deets-apply-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.job-details-container-2 .deets-apply-button button {
  border: 1px solid black;
  background-color: #ec3944;
  color: #ffffff;
  width: 10%;
  height: 35px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0 2px;
  padding: 0;
}
.job-details-container-2 .deets-apply-button button:hover {
  border: 1px solid #ec3944;
  border-radius: 6px;
  background: #ffffff;
  color: #ec3944;
  cursor: pointer;
}
@media (max-width: 650px) {
  .job-details-container-2 .deets-apply-button button {
    width: 25%;
  }
}
@media (max-width: 350px) {
  .job-details-container-2 .deets-apply-button button {
    width: 40%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .job-details-container-2 .deets-apply-button button {
    width: 300%;
  }
}
.job-details-container-2 .deets-div {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
.job-details-container-2 .deets-div h2 {
  padding: 0.5% 2%;
}
.job-details-container-2 .deets-div p {
  padding: 0.5% 2%;
}
.job-details-container-2 .deets-div a {
  padding: 0.5% 2%;
  font-size: 1.6rem;
}
.job-details-container-2 .desc-div {
  color: black;
}
.job-details-container-2 .desc-div p {
  padding: 0.5% 2%;
}
.job-details-container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  color: #fff;
}
.job-details-container .deets-apply-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.job-details-container .deets-apply-button button {
  border: 1px solid black;
  background-color: #ec3944;
  color: #ffffff;
  width: 10%;
  height: 35px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0 2px;
  padding: 0;
}
.job-details-container .deets-apply-button button:hover {
  border: 1px solid #ec3944;
  border-radius: 6px;
  background: #ffffff;
  color: #ec3944;
  cursor: pointer;
}
@media (max-width: 650px) {
  .job-details-container .deets-apply-button button {
    width: 25%;
  }
}
@media (max-width: 350px) {
  .job-details-container .deets-apply-button button {
    width: 40%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .job-details-container .deets-apply-button button {
    width: 300%;
  }
}
.job-details-container .deets-div {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
.job-details-container .deets-div h2 {
  padding: 0.5% 2%;
}
.job-details-container .deets-div p {
  padding: 0.5% 2%;
}
.job-details-container .deets-div a {
  padding: 0.5% 2%;
  font-size: 1.6rem;
}
.job-details-container .desc-div {
  color: black;
}
.job-details-container .desc-div p {
  padding: 0.5% 2%;
}
.login-page {
  height: calc(100vh - 75px);
  background-image: linear-gradient(140deg, #c13a43, rgba(193, 58, 67, 0.9), rgba(193, 58, 67, 0.1));
  display: flex;
  align-items: center;
}
.login-page .form-wrap {
  width: 50%;
  height: 80%;
  margin-left: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .form-wrap form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.login-page .form-wrap form .form-inputs {
  display: flex;
  flex-direction: column;
}
.login-page .form-wrap form .form-inputs input {
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid #c13a43;
  border-radius: 5px;
  outline: none;
  background: white;
  font-size: 1.5rem;
  padding-left: 5px;
}
.login-page .form-wrap form .form-inputs .buttons-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 30px 40px;
}
.login-page .form-wrap form .form-inputs .buttons-wrap .log-in-btn {
  color: black;
  border: 1px solid transparent;
  font-size: 1.7rem;
  cursor: pointer;
  outline: none;
}
.login-page .form-wrap form .form-inputs .buttons-wrap .sign-up-btn {
  color: #C4C4C4;
  border: 1px solid transparent;
  font-size: 1.7rem;
  cursor: pointer;
  outline: none;
}
.login-page .form-wrap form .form-inputs .buttons-wrap .sign-up-btn:hover {
  color: black;
}
.login-page .form-wrap form .submit-login {
  width: 120px;
  height: 35px;
  color: white;
  background: #EC3A44;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
.container-profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: 'Lato';
  margin-top: 10vh;
}
.profile-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.profile-section #profile-cards {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.profile-section button {
  width: 35%;
  padding: 10px 5px;
  background: #ac2a38;
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 8px;
  margin: 2%;
}
.profile-section button:hover {
  background: #ffffff;
  color: #ac2a38;
}
@media (max-width: 650px) {
  .profile-section button {
    height: 100%;
    width: 50%;
    padding: 3%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .profile-section button {
    height: 5%;
    width: 50%;
    padding: 2%;
  }
}
.profileNameDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (max-width: 650px) {
  .profileNameDiv {
    width: 100%;
    max-width: 100%;
    margin-top: 2.5%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .profileNameDiv {
    width: 50%;
    margin-top: 2%;
  }
}
.profileNameDiv h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.profileNameDiv p {
  font-style: italic;
  margin: 0;
  padding: 0;
}
.profile-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 50%;
  margin: 2% 0 0.75% 0;
  padding: 2%;
}
.profile-top h3 {
  width: 100%;
}
.profile-top h4 {
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  .profile-top {
    flex-direction: column;
    width: 75%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .profile-top {
    flex-direction: column;
    width: 70%;
    margin-bottom: 1%;
  }
}
.profileCard {
  width: 40%;
  margin-bottom: 2vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 650px) {
  .profileCard {
    width: 75%;
    margin: 2%;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .profileCard {
    width: 70%;
  }
}
.profileCard h3 {
  font-weight: bold;
}
.profileCard h4 {
  font-weight: bold;
  font-size: 1.5em;
}
.profileCard div {
  border-radius: 8px;
  background-color: #f8f8f8;
  color: black;
  width: 30%;
  height: 45vh;
  text-align: center;
  line-height: 2;
  margin: 30px 0 0 0;
}
.profileCard h3 {
  width: 100%;
  margin: 1%;
}
@media (max-width: 650px) {
  .profileCard h3 {
    text-align: center;
  }
}
.profileCard p {
  width: 100%;
}
@media (max-width: 650px) {
  .profileCard p {
    text-align: center;
  }
}
.profile-main-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  .profile-main-div2 {
    width: 80%;
    max-width: 100%;
  }
}
.profile-second-main2 .profile-make2 {
  text-align: center;
  padding: 2%;
  width: 100%;
}
.profile-main-form2 {
  box-sizing: border-box;
  display: flex;
  margin: 4% 0 4% 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 750px;
}
@media (max-width: 650px) {
  .profile-main-form2 {
    flex-direction: column;
    width: 400px;
    min-width: 350px;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .profile-main-form2 {
    width: 480px;
  }
}
.edit-profile-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2%;
  width: 80%;
}
.profile-form-inputs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 650px) {
  .profile-form-inputs2 {
    width: 80%;
    max-width: 100%;
  }
}
.profile-form-inputs2 .profile-form-edit-name {
  display: flex;
  flex-flow: row;
  margin-top: 3%;
  width: 60%;
}
@media (max-width: 650px) {
  .profile-form-inputs2 .profile-form-edit-name {
    flex-direction: column;
  }
}
.profile-form-inputs2 .profile-form-edit-name div {
  display: flex;
  flex-direction: column;
  border: none;
}
.profile-form-inputs2 .profile-form-edit-name div input {
  border: 1px solid #d3d3d3;
  width: 100%;
}
@media (max-width: 650px) {
  .profile-form-inputs2 .profile-form-edit-name div input {
    width: 100%;
  }
}
.profile-form-inputs2 div {
  border: #d3d3d3;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: center;
  width: 100%;
  margin: 1%;
  padding: 0;
}
@media (max-width: 650px) {
  .profile-form-inputs2 div h3 {
    font-size: 1.8rem;
  }
}
.profile-form-inputs2 input {
  width: 60%;
  height: 25px;
  padding-left: 2%;
  border: 1px solid #d3d3d3;
  font-size: 1.25rem;
  margin-bottom: 3%;
  text-transform: capitalize;
}
.profile-form-inputs2 textarea {
  min-width: 60%;
  max-width: 100%;
  height: 70%;
  padding-left: 2%;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  font-size: 1.25rem;
  margin-bottom: 3%;
  text-transform: capitalize;
}
.edit-profile-btns {
  display: flex;
  width: 800px;
  justify-content: space-evenly;
}
@media (max-width: 650px) {
  .edit-profile-btns {
    flex-direction: column;
    align-items: center;
  }
}
.edit-profile-btns button {
  width: 30%;
  height: 4rem;
  background: #ec3944;
  border: none;
  color: #ffffff;
  font-size: 1.3em;
  border-radius: 8px;
  margin: 2%;
}
.edit-profile-btns button:hover {
  background: #ffffff;
  color: #ac2a38;
  border: 1px solid #ac2a38;
}
@media (max-width: 650px) {
  .edit-profile-btns button {
    width: 50%;
  }
}
.register-page {
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-page form {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.register-page form .form-inputs {
  display: flex;
  flex-direction: column;
}
.register-page form .form-inputs .first-row-wrap {
  display: flex;
  justify-content: space-between;
}
.register-page form .form-inputs .first-row-wrap div {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.register-page form .form-inputs input {
  outline: none;
  height: 30px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  margin-bottom: 20px;
}
.register-page form .form-inputs label {
  font-size: 1.5rem;
  color: #131436;
  letter-spacing: 1px;
  margin-left: 1px;
}
.register-page form .submit-register-btn {
  width: 90px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #EC3A44;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
.register-page form .submit-register-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.jobButtons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}
.accordion-item {
  width: 45vw;
}
.accordion-item--opened {
  width: 45vw;
}
.accordion-item__line {
  /* display: block; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  width: 45vw;
  height: auto;
  margin: 10px;
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
}
.accordion-item__line:hover {
  cursor: pointer;
}
.accordion-item__line .accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-item__line .accordion-header button {
  background: transparent;
  border: none;
}
.accordion-item__line .accordion-header .accordion-item__title {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 700;
  color: #121212;
  display: flex;
  margin-top: 2px;
}
.accordion-item__line .card-text {
  width: 100%;
}
.accordion-item__line .accordion-item__icon {
  width: 3.2em;
  height: 3.2em;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  text-align: center;
}
.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
  z-index: 1;
  margin: 10px;
  position: relative;
  width: 45vw;
  background-color: white;
}
.accordion-item__inner .accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition: opacity, transform;
  transition-delay: 0.5s;
  padding: 0 1.2rem 1.2rem;
  border: 1px solid #c4c4c4;
}
.accordion-item__inner .accordion-item__content .accordion-item__paragraph {
  margin: 0;
  font-size: 1.2rem;
  text-align: justify;
  color: #333;
  /* font-weight: 300; */
  line-height: 1.3;
}
.accordion-list__item + .accordion-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg);
}
.accordion-item--opened .accordion-item__inner {
  max-height: 300rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
  width: 45vw;
}
.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  width: 45vw;
  background: #ffffff;
  transition-delay: 0.2s;
  border: 1px solid #c4c4c4;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
.icon-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  z-index: 8888;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto Slab", serif;
  margin: 3vh auto;
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}
.modal-content h2 {
  font-size: 22px;
  width: 70%;
  text-align: center;
}
.modal-content span {
  color: #ec3944;
  font-weight: bold;
}
.modal-content .modal-buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .modal-buttons button {
  border: none;
  background-color: #ec3944;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
}
.more {
  margin-left: 30px;
  font-size: 17px;
  border-radius: 4px;
  font-family: "Roboto Slab", serif;
  background-color: #010a3b;
  width: 25%;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto";
  font-size: 1.1em;
  cursor: pointer;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.close button {
  background-color: none;
  color: grey;
  border: none;
}
.logo-quickhire {
  display: flex;
  align-items: center;
}
.logo-quickhire h1 {
  color: #010a3b;
  font-size: 32px;
  font-family: "Lato";
  font-weight: bold;
  margin-left: 5px;
}
