@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'roboto';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  overflow: auto;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: 700;
}
header {
  position: sticky;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  border-bottom: 1px solid #e6e6e6;
}
header a {
  text-decoration: none;
}
header h1 {
  margin: 0 0 0 30px;
  font-size: 25px;
  color: #AC2A38;
}
header nav {
  width: 20%;
  min-width: 200px;
  height: 100%;
  margin: 0 30px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav button {
  color: #AC2A38;
  width: 100px;
  height: 35px;
  border: 1px solid #AC2A38;
  border-radius: 3px;
}
header nav button:hover {
  background: #AC2A38;
  border-radius: 5px;
  color: #ffffff;
}
footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%233c3c40' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #AC2A38;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 125px;
}
.landing-page {
  width: 90%;
  height: 90vh;
}
.landing-page h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.25rem;
  padding: 2%;
}
.landing-page .p-div {
  font-size: large;
  padding-top: 5%;
}
.landing-page .p-div .p-1 {
  padding-left: 10%;
}
.landing-page .p-div .p-2 {
  padding-left: 7%;
}
.landing-page .p-div .p-3 {
  padding-left: 4%;
}
@media (max-width: 500px) {
  .landing-page .p-div {
    font-size: unset;
  }
  .landing-page .p-div .p-1 {
    padding-left: unset;
  }
  .landing-page .p-div .p-2 {
    padding-left: unset;
  }
  .landing-page .p-div .p-3 {
    padding-left: unset;
  }
}
.landing-page .bottom-content {
  display: flex;
}
@media (min-width: 500px) and (max-width: 800px) {
  .landing-page .bottom-content {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .landing-page .bottom-content {
    flex-direction: column;
    width: 100%;
  }
}
.landing-page .bottom-content a {
  width: 40%;
  height: 30%;
}
.landing-page .bottom-content .button-div {
  display: flex;
  width: 49%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) and (max-width: 800px) {
  .landing-page .bottom-content .button-div {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
}
@media (max-width: 500px) {
  .landing-page .bottom-content .button-div {
    width: 100%;
    height: 15vh;
    padding-top: 4%;
  }
}
.landing-page .bottom-content .button-div button {
  width: 100%;
  height: 50%;
  text-decoration: none;
  font-size: medium;
  color: #AC2A38;
  border: 1px solid #AC2A38;
  border-radius: 3px;
}
.landing-page .bottom-content .button-div button:hover {
  background: #AC2A38;
  border-radius: 5px;
  color: #ffffff;
}
@media (min-width: 500px) and (max-width: 800px) {
  .landing-page .bottom-content .button-div button {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .landing-page .bottom-content .button-div button {
    height: 100%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .landing-page .bottom-content .button-div button a {
    height: 35%;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .landing-page .bottom-content .button-div button a {
    height: 35%;
    width: 60%;
  }
}
.landing-page .img-div {
  display: flex;
  width: 49%;
  justify-content: flex-end;
}
.landing-page .img-div img {
  max-width: 100%;
}
@media (max-width: 500px) {
  .landing-page .img-div {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .landing-page .img-div {
    width: 100%;
  }
}
/* #region sliders and filters*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  bottom: -1px;
  border: 1px solid #3073AB;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #AC2A38;
}
input:focus + .slider {
  box-shadow: 0 0 1px #AC2A38;
}
input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch {
  font-size: 0.9rem;
  width: 15%;
  height: 15%;
  padding-left: 5%;
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.slider-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* #endregion */
/* #region sidebar */
.dashboard-SideBar {
  display: flex;
  flex-direction: column;
  background-color: #AC2A38;
  border-right: 0.5px solid #D5D5D5;
  width: 20%;
  min-width: 250px;
  max-width: 265px;
  max-height: 100%;
}
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10% auto 0 auto;
}
.search input {
  border: 2px solid black;
  border-radius: 8px;
  width: 80%;
  min-width: 160px;
  height: 30px;
  text-align: center;
  padding: 2%;
}
.filter-container {
  display: flex;
  flex-direction: column;
  height: 20%;
}
.filter-list {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 8px;
  width: 80%;
  min-width: 160px;
  margin: 15% auto 0 auto;
  padding: 2%;
}
/* #endregion */
.dashboardNav {
  width: 60%;
  min-width: 315px;
  max-width: 500px;
  margin: 30px 0 30px 30px;
}
.dashboardNav nav {
  border: 1px solid #AC2A38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}
.dashboardNav nav button {
  border: 1px solid black;
  border: #AC2A38;
  background-color: #ffffff;
  color: #AC2A38;
  width: 25%;
  height: 35px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0 2px;
  padding: 0;
}
.dashboardNav nav button:hover {
  border: #ffffff;
  border-radius: 6px;
  background: #AC2A38;
  color: white;
  cursor: pointer;
}
.dashboardNav nav a {
  text-decoration: none;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 98%;
  margin: 0 auto;
}
.jobCard {
  border: 1px solid #AC2A38;
  background-color: #fafafa;
  width: 28%;
  min-width: 250px;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.jobCard h3 {
  font-size: 1.3rem;
}
.card-image {
  display: flex;
  width: 18%;
  height: 16%;
  margin: 8%;
}
.card-image img {
  width: 50px;
  height: 50px;
}
.card-text {
  margin-left: 8%;
}
.card-text p {
  margin-bottom: 5%;
}
.card-text p span {
  color: #646464;
}
.jobButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}
.jobButtons button {
  color: #AC2A38;
  width: 100px;
  height: 35px;
  border: 1px solid #AC2A38;
  border-radius: 3px;
}
.jobButtons button:hover {
  background: #AC2A38;
  border-radius: 5px;
  color: #ffffff;
}
.main-div {
  height: 90vh;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.main-div .second-main .make {
  text-align: center;
  padding: 2%;
}
.main-div .second-main .main-form {
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
  height: 360px;
}
.main-div .second-main .main-form .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 20vh;
}
.main-div .second-main .main-form .form-inputs input {
  width: 387px;
  height: 18%;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  /* border: 1px solid green; */
}
.main-div .second-main .main-form .form-inputs label {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.main-div .second-main button {
  width: 387px;
  height: 58px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
}
.main-div .second-main button:hover {
  background: #fff;
  color: #3073AB;
}
.container-profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.profile-section {
  background: #ffffff;
  border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.profileNameDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {
  .profileNameDiv {
    width: 100%;
    max-width: 100%;
    margin-top: 2.5%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .profileNameDiv {
    width: 50%;
    margin-top: 2%;
  }
}
.profileNameDiv h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.profileNameDiv p {
  font-style: italic;
  margin: 0;
  padding: 0;
}
.profileNameDiv button {
  width: 25%;
  height: 50%;
  padding: 1%;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 5%;
}
.profileNameDiv button:hover {
  background: #ffffff;
  color: #3073AB;
}
@media (max-width: 500px) {
  .profileNameDiv button {
    height: 100%;
    width: 50%;
    padding: 3%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .profileNameDiv button {
    height: 5%;
    width: 50%;
    padding: 2%;
  }
}
.profile-top {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 50%;
  margin: 2% 0 0 0;
  padding: 2%;
}
.profile-top h3 {
  width: 100%;
}
@media (max-width: 500px) {
  .profile-top {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .profile-top {
    flex-direction: column;
    width: 100%;
  }
}
.profileCard {
  border: 1px solid #d1d5da;
  background: #AC2A38;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin: 0.5%;
  padding: 2%;
  background: #ffffff;
}
@media (max-width: 500px) {
  .profileCard {
    text-align: center;
    width: 75%;
    margin: 2%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .profileCard {
    width: 70%;
    margin: 1% 0 1% 0;
  }
}
.profileCard h3 {
  width: 100%;
  border: 1px solid green;
}
.profileCard p {
  text-align: left;
  width: 100%;
  border: 1px solid pink;
}
@media (max-width: 500px) {
  .profileCard p {
    text-align: center;
  }
}
.profile-main-div2 {
  height: 100vh;
  display: flex;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}
.profile-main-div2 .profile-second-main2 .profile-make2 {
  text-align: center;
  padding: 2%;
}
.profile-main-div2 .profile-second-main2 button {
  width: 387px;
  height: 48px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 5%;
}
.profile-main-div2 .profile-second-main2 button:hover {
  background: #ffffff;
  color: #3073AB;
}
.profile-main-form2 {
  border: 1px solid #D6D6D6;
  padding: 2%;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
}
.profile-form-inputs2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 600px;
}
.profile-form-inputs2 input {
  width: 387px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #D3D3D3;
  font-size: 1.25rem;
}
.profile-form-inputs2 label {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1%;
  margin-top: 2%;
}
.profile-form-inputs2 button {
  margin-bottom: 4%;
}
.main-div2 {
  height: 90vh;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.main-div2 .second-main2 .make2 {
  text-align: center;
  padding: 2%;
}
.main-div2 .second-main2 button {
  width: 387px;
  height: 48px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 5%;
}
.main-div2 .second-main2 button:hover {
  background: #fff;
  color: #3073AB;
}
.main-div2 .second-main2 .main-form2 {
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
  height: 432px;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 25vh;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 input {
  width: 387px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 label {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1%;
  margin-top: 2%;
}
/* .main-div .second-main { */
/* border: 1px solid red; */
/* background: #F9F9F9;
    box-sizing: border-box;
    width: 473px;
    height: 432px; */
/* } */
