
.main-div {
    height: 90vh;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

/* .main-div .second-main { */
    /* border: 1px solid red; */
    /* background: #F9F9F9;
    box-sizing: border-box;
    width: 473px;
    height: 432px; */
/* } */


.main-div .second-main .make {
    text-align: center;
    padding: 2%;
}


/* .main-div .main-form {
    border: 1px solid blue;
} */

.main-div .second-main .main-form {
    border: 1px solid #D6D6D6;
    background: #F9F9F9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 473px;
    height: 432px;
    
}

.main-div .second-main button {
    width: 387px;
    height: 48px;
    background: #3073AB;
    border: 1px solid #D3D3D3;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;

    
}

.main-form .form-inputs  {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20vh;
}


.main-form .form-inputs input {
    width: 387px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    font-size: 20px;
}


.main-form .form-inputs label {
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}