/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #06D6A0;
}
input:focus + .slider {
  box-shadow: 0 0 1px #06D6A0;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.search {
  margin-left: 12%;
  margin-top: 14%;
}
.search input {
  height: 30px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}
body {
  background: linear-gradient(0deg, #FAF5F5, #FAF5F5);
}
.container {
  display: flex;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #FAF5F5;
  align-items: center;
  height: 80px;
  max-height: 100%;
}
.top-nav h1 {
  margin-left: 4%;
  font-family: 'roboto';
  font-size: 1.6rem;
}
.profile-image {
  border-radius: 50%;
  max-width: 46px;
  max-height: 46px;
  margin-right: 4%;
  margin-bottom: 2%;
}
.profile-image:hover {
  cursor: pointer;
}
.left-nav {
  background-color: #5B6577;
  font-family: 'roboto';
  width: 60%;
  max-height: 100%;
}
.card-items {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: 'roboto';
  background-color: #ffffff;
  width: 38%;
  height: 60px;
  max-height: 60%;
  margin-left: 5.1%;
  border-radius: 8px;
  margin-bottom: 5%;
  margin-top: 1.8%;
}
.top-nav-btn {
  border: none;
  background-color: #ffffff;
  width: 18%;
  font-family: 'roboto';
  font-size: 1.2rem;
}
.top-nav-btn:hover {
  background: #BCCCEA;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.top-nav-btn2 {
  border: none;
  background-color: #ffffff;
  width: 18%;
  font-family: 'roboto';
  font-size: 1.2rem;
  margin-left: 20%;
}
.top-nav-btn2:hover {
  background: #BCCCEA;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-container .card {
  border: 1px solid #E5E4E4;
  width: 18.5%;
  height: 300px;
  max-height: 100%;
  background-color: #fafafa;
  font-family: 'roboto';
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 8px;
}
.card-container .card h3 {
  font-size: 1.3rem;
  margin-bottom: 5%;
}
.card-container .card span {
  font-size: 0.8rem;
}
.card-container .card-image {
  width: 18%;
  height: 16%;
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 10%;
  display: flex;
}
.card-container .card-text p {
  margin-bottom: 5%;
}
.card-container span {
  color: #646464;
}
.card-container .image {
  width: 100%;
  height: 100%;
}
.card-container .card-text {
  margin-left: 10%;
}
.card-container .match {
  margin: 4% 5% 4% 10%;
}
.card-container .right-side {
  margin-left: 310%;
  font-size: 1.2rem;
  margin-top: -28%;
}
.card-container .right-side:hover {
  cursor: pointer;
}
.card-container .save-btn {
  width: 34%;
  height: 11%;
  background-color: #ffffff;
  color: #3062A9;
  border-radius: 6px;
  margin-left: 10%;
  margin-top: 8%;
  margin-right: 12%;
}
.card-container .save-btn:hover {
  cursor: pointer;
}
.card-container .apply-btn {
  width: 34%;
  height: 11%;
  background-color: #3062A9;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 8%;
}
.card-container .apply-btn:hover {
  cursor: pointer;
}
.filter-container {
  display: flex;
  flex-direction: column;
}
.filter-list1 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 35%;
  margin-left: 10%;
  background-color: white;
  border-radius: 8px;
}
.filter-list2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 25%;
  margin-left: 10%;
  background-color: white;
  border-radius: 8px;
}
.switch {
  font-size: 0.9rem;
  font-family: 'roboto';
  width: 15%;
  height: 30%;
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.filter-list1 .full-time {
  margin-right: 41%;
  margin-left: 5%;
  margin-top: 3%;
}
.filter-list1 .internship {
  margin-right: 38%;
  margin-left: 5%;
  margin-top: 3%;
}
.filter-list1 .junior {
  margin-right: 22%;
  margin-left: 5%;
  margin-top: 3%;
}
.filter-list1 .mid {
  margin-right: 12%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.filter-list2 .senior {
  margin-right: 22%;
  margin-left: 5%;
  margin-top: 3%;
}
.filter-list2 .contract {
  margin-right: 43%;
  margin-left: 5%;
  margin-top: 3%;
}
.filter-list2 .remote {
  margin-right: 46%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.profile-container {
  display: flex;
  flex-flow: column;
  background-color: #E5E5E5;
  border: 1px solid black;
}
.image-container {
  margin-top: 3%;
  padding: 1%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border: 1px solid black;
}
.image-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: top;
  line-height: 0.2;
}
.profile-image {
  margin-top: 2%;
  height: 150px;
  width: 180px;
  border-radius: 70px;
  border: 1px solid black;
}
/*****  PROFILE BODY *****/
.profile-body-container {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}
.profile-body-container .about-me {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  line-height: 0.5;
  border: 3px inset grey;
  border-radius: 15px;
  margin-top: 2%;
  background-color: #ffffff;
}
.profile-body-container .job-section {
  display: flex;
  align-content: space-between;
  width: 90%;
  padding: 3%;
  margin-top: 2%;
}
.profile-body-container .job-section .resume {
  border: 1px solid lightgrey;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  border: 3px inset grey;
  border-radius: 15px;
  width: 40%;
  align-items: center;
  align-content: center;
  line-height: 1;
}
.profile-body-container .job-section .skills {
  border: 1px solid lightgrey;
  background-color: #ffffff;
  display: flex;
  flex-flow: column, wrap;
  border: 3px inset grey;
  border-radius: 15px;
  width: 40%;
}
.profile-body-container .job-section .job-pref {
  border: 1px solid lightgrey;
  background-color: #ffffff;
  display: flex;
  flex-flow: column, wrap;
  border: 3px inset grey;
  border-radius: 15px;
  width: 40%;
}
.buttonclass:hover {
  background: #3073AB;
  color: #fff;
}
.main-div {
  height: 90vh;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}
/* .main-div .second-main { */
/* border: 1px solid red; */
/* background: #F9F9F9;
    box-sizing: border-box;
    width: 473px;
    height: 432px; */
/* } */
.main-div .second-main .make {
  text-align: center;
  padding: 2%;
}
/* .main-div .main-form {
    border: 1px solid blue;
} */
.main-div .second-main .main-form {
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
  height: 360px;
  /* border: 1px solid red; */
}
.main-div .second-main button {
  width: 387px;
  height: 58px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
}
.main-form .form-inputs {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 20vh;
  /* border: 1px solid blue; */
}
.main-form .form-inputs input {
  width: 387px;
  height: 18%;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  /* border: 1px solid green; */
}
.main-form .form-inputs label {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
