/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "css/normalize.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  display: flex;
  background: #eeebeb;
}
section {
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 30%;
}
h3 {
  padding-bottom: 5%;
  font-size: 1.6rem;
}
nav a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 2%;
}
.contact {
  margin-right: 33%;
}
.links {
  margin-right: 30%;
}
.social-links h3 {
  margin-bottom: 10%;
}
.social-links a {
  text-decoration: none;
  padding: 5%;
  color: black;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: -1px;
  background-color: #5B6578;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #06D6A0;
}
input:focus + .slider {
  box-shadow: 0 0 1px #06D6A0;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(42px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10%;
}
.search input {
  height: 30px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}
body {
  background: linear-gradient(0deg, #FAF5F5, #FAF5F5);
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 80px;
  max-height: 100%;
}
.top-nav h1 {
  margin-left: 4%;
  font-family: 'roboto';
  font-size: 1.6rem;
}
.profile-image {
  border-radius: 50%;
  max-width: 46px;
  max-height: 46px;
  margin-right: 4%;
  margin-bottom: 2%;
}
.profile-image:hover {
  cursor: pointer;
}
.left-nav {
  display: flex;
  flex-direction: column;
  background-color: #5B6577;
  font-family: 'roboto';
  width: 60%;
  max-height: 100%;
}
.container {
  display: flex;
}
.container .left-nav {
  display: flex;
  flex-direction: column;
  background-color: #5B6577;
  border-right: 0.5px solid #D5D5D5;
  font-family: 'roboto';
  width: 20%;
  max-height: 100%;
}
.container .card-items {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.top-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: 'roboto';
  background-color: #ffffff;
  width: 800px;
  height: 60px;
  max-height: 60%;
  margin-left: 9.2%;
  border-radius: 8px;
  margin-bottom: 5%;
  margin-top: 1.8%;
}
.top-list .top-nav-btn {
  border: none;
  background-color: #ffffff;
  width: 18%;
  font-family: 'roboto';
  font-size: 1.2rem;
  margin-left: 2%;
}
.top-list .top-nav-btn:hover {
  background: #BCCCEA;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.top-list .top-nav-btn2 {
  border: none;
  background-color: #ffffff;
  width: 18%;
  font-family: 'roboto';
  font-size: 1.2rem;
  margin-left: 20%;
}
.top-list .top-nav-btn2:hover {
  background: #BCCCEA;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.suggested-jobs-container {
  width: 100%;
}
.suggested-jobs-container .card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.suggested-jobs-container .card-container .card {
  border: 1px solid #E5E4E4;
  width: 20%;
  height: 300px;
  max-height: 100%;
  background-color: #fafafa;
  font-family: 'roboto';
  margin-left: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.suggested-jobs-container .card-container .card .h3 {
  font-size: 1.3rem;
  margin-bottom: 5%;
}
.suggested-jobs-container .card-container .card span {
  font-size: 0.8rem;
}
.suggested-jobs-container .card-container .card .card-image {
  width: 18%;
  height: 16%;
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 10%;
  display: flex;
}
.suggested-jobs-container .card-container .card .card-image .image {
  width: 100%;
  height: 100%;
}
.suggested-jobs-container .card-container .card .card-text {
  margin-left: 10%;
}
.suggested-jobs-container .card-container .card .card-text p {
  margin-bottom: 5%;
}
.suggested-jobs-container .card-container .card .card-text p span {
  color: #646464;
}
.suggested-jobs-container .card-container .card .match {
  margin: 4% 5% 4% 10%;
}
.suggested-jobs-container .card-container .card .right-side {
  margin-left: 310%;
  font-size: 1.2rem;
  margin-top: -28%;
}
.suggested-jobs-container .card-container .card .right-side:hover {
  cursor: pointer;
}
.suggested-jobs-container .card-container .card .save-btn {
  width: 34%;
  height: 11%;
  background-color: #ffffff;
  color: #3062A9;
  border-radius: 6px;
  margin-left: 10%;
  margin-top: 8%;
  margin-right: 12%;
}
.suggested-jobs-container .card-container .card .save-btn:hover {
  cursor: pointer;
}
.suggested-jobs-container .card-container .card .apply-btn {
  width: 34%;
  height: 11%;
  background-color: #3062A9;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 8%;
}
.suggested-jobs-container .card-container .card .apply-btn:hover {
  cursor: pointer;
}
.filter-container {
  display: flex;
  flex-direction: column;
  height: 20%;
}
.filter-list1 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 35%;
  margin-left: 10%;
  background-color: white;
  border-radius: 8px;
  padding: 2%;
}
.filter-list2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 25%;
  margin-left: 10%;
  background-color: white;
  border-radius: 8px;
  padding: 2%;
}
.switch {
  font-size: 0.9rem;
  font-family: 'roboto';
  width: 15%;
  height: 15%;
  padding-left: 5%;
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.slider-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-div {
  height: 90vh;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.main-div .second-main .make {
  text-align: center;
  padding: 2%;
}
.main-div .second-main .main-form {
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
  height: 360px;
}
.main-div .second-main .main-form .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 20vh;
}
.main-div .second-main .main-form .form-inputs input {
  width: 387px;
  height: 18%;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  /* border: 1px solid green; */
}
.main-div .second-main .main-form .form-inputs label {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.main-div .second-main button {
  width: 387px;
  height: 58px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
}
.main-div .second-main button:hover {
  background: #fff;
  color: #3073AB;
}
.container-profile .back-button {
  background: #3073AB;
}
.container-profile .back-button button {
  background: #3073AB;
  color: #fff;
  padding: 0.5%;
}
.container-profile .back-button button:hover {
  background: #fff;
  color: #3073AB;
}
.container-profile .image-container {
  background: #3073AB;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  padding-bottom: 3%;
}
.container-profile .image-container .profile-image1 {
  height: 150px;
  width: 180px;
  border-radius: 50%;
}
.container-profile .image-container h3 {
  padding-top: 1%;
}
.container-profile .image-container button {
  width: 10%;
  height: 10%;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
}
.container-profile .image-container button:hover {
  background: #fff;
  color: #3073AB;
}
.container-profile .profile-body-container {
  display: flex;
  flex-direction: column;
}
.container-profile .profile-body-container .about-container {
  border: 1px solid orange;
}
.container-profile .profile-body-container .container-one {
  border: 1px solid purple;
}
.container-profile .profile-body-container .container-two {
  border: 1px solid green;
}
.container-profile .about-me {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
}
.container-profile .about-me p {
  width: 40%;
}
.main-div2 {
  height: 90vh;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.main-div2 .second-main2 .make2 {
  text-align: center;
  padding: 2%;
}
.main-div2 .second-main2 button {
  width: 387px;
  height: 48px;
  background: #3073AB;
  border: 1px solid #D3D3D3;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 5%;
}
.main-div2 .second-main2 button:hover {
  background: #fff;
  color: #3073AB;
}
.main-div2 .second-main2 .main-form2 {
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 473px;
  height: 432px;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 25vh;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 input {
  width: 387px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.main-div2 .second-main2 .main-form2 .form-inputs2 label {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 1%;
  margin-top: 2%;
}
/* .main-div .second-main { */
/* border: 1px solid red; */
/* background: #F9F9F9;
    box-sizing: border-box;
    width: 473px;
    height: 432px; */
/* } */
.top {
  background: #fff;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}
.top .title {
  color: #AC2A38;
  font-size: 25px;
}
.top button {
  color: #3062A9;
  width: 100px;
  height: 35px;
  border: 1px solid #3062A9;
}
.top button:hover {
  background: #3073AB;
  color: #fff;
}
