
// layout
@mobile: ~'(min-width: 520px) and (max-width: 600px)';
@mobile2: ~'(max-width: 519px)';
@tablet: ~'(min-width: 601px) and (max-width: 800px)';
@desktop-1000: ~'(max-width: 1000px)';
@desktop-1080: ~'(max-width: 1400px)';
@desktop-1440: ~'(min-width: 1400px)';

// // typography
// @main-font: 'Lato', sans-serif;
// @main-font-size: 1.8rem;
// @normal-font-weight: 400;
// @bold-font-weight: 700;